{% include 'incl/header.html' %}
    <h2><a href="{{ person['info']['home'] }}">{{ person['info']['name'] }}</a></h2>
    <div><a href="https://github.com/{{ person['info']['github'] }}">Github: {{ person['info']['github'] }}</a></div>
    <div><a href="https://twitter.com/{{ person['info']['twitter'] }}">Twitter: @{{ person['info']['twitter'] }}</a></div>
    {% for e in person['episodes'] %}
        <li><a href="{{ e['permalink'] }}">{{ e['title'] }}</a> {{ e['date'] }} <a href="/s/{{ e['source'] }}">{{ e['source'] }}</a></li>
    {% endfor %}

{% include 'incl/footer.html' %}


