{% include 'incl/header.html' %}
    <h2><a href="{{ source['url'] }}">{{ source['title'] }}</a></h2>
    <div><a href="{{ source['feed'] }}" class="rss" target="_blank">RSS</a> <a href="{{ source['itunes'] }}" class="itunes" target="_blank">ITUNES</a></div>
    <ul>
    {% for e in source['episodes'] %}
        <li>
           {{ e['date'] }} <a href="{{ e['permalink'] }}">{{ e['title'] }}</a>
               (
                 {% for g in e['guests'] %}
                    <a href="/p/{{ g }}">{{ g }}</a>
                 {% endfor %}
               )
               (
                 {% for h in e['hosts'] %}
                    <a href="/p/{{ h }}">{{ h }}</a>
                 {% endfor %}
               )
        </li>
    {% endfor %}
    </ul>

{% include 'incl/footer.html' %}
